<appSettings>
  <add key="Google.Api.PlaceUri" value="https://maps.googleapis.com/maps/api/place"/>
  <add key="Google.Api.ServerKey" value="AIzaSyAFBqDdnbDjlouKVY8hDk-MUprLbgGixrA"/>
  <add key="Database.ConnectionString" value="Server=(local);Database=zavit;User id=sa; password=w4mb1z!;Connection Timeout=30;"/>
</appSettings>