@model dynamic

@{
    ViewBag.Title = "title";
}



<h2>title</h2>
<div id="otherTitle">
    <h1>Heading <span>This should be pink</span></h1>
    <a href="#/">Home</a>
    <a href="#/about">About</a>
</div>
<div id="home"></div>

<ul id="names"></ul>
