@{
    Layout = "~/Views/Shared/_StaticLayout.cshtml";
    ViewBag.Title = "Find people and places to play sport";
}

@section meta
{
    <meta name="description" content="ZAVIT helps you to find people and places for your sporting activities. Open and free communication with other athletes or sport buddies. Be active, be healthy"/>
    <meta name="keywords" content="sport,activity,health,play sport,find players,find people,find people to play sport,find places to play sport,find gym,find pitch,find court,find sport venue,join sport venue,sporting activities"/>
}

<h2 class="aboutHeading">Find people to share your sporting activities and arrange your next session</h2>
<div id="aboutBanner">
    <div class="container aboutSteps">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="aboutStep">
                    <img src="/Images/web/banner_search.png" alt="banner search icon"/>
                    <h3><a href="/">1. Search</a>
                    </h3>
                    <p>Find venue</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="aboutStep">
                    <img src="/Images/web/banner_add.png" alt="banner add activity icon"/>
                    <h3><a href="/">2. Join</a>
                    </h3>
                    <p>Select your activities</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="aboutStep">
                    <img src="/Images/web/banner_chat.png" alt="banner arrange event icon"/>
                    <h3><a href="/">3. Arrange</a>
                    </h3>
                    <p>Arrange and enjoy!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 exploreContainer">
                <a href="/" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
</div>
<div id="descriptionContainer">
    <p>ZAVIT helps you to find people and places for your sporting activities. Whatever your sport is, wheter you like to casually paly 5 a side football once in two weeks, play best of 5 sets tennis match every day or are preparing for World Cup of Golf you can find likeminded people on ZAVIT. Simply let people know what activity are you looking to do by joining a venue and selecting an activity.</p>
</div>

