@background:#e9ebee;
@nav-bg :#fff;
@nav-text-selected:#fff;
@nav-text:#808080;
@text-link : #e19f05;
@dark-text:#333;
@highlight-text-link:#fff;
@standard-text: #808080;
@info-text:#fff;
@default-text: #808080;
@light-text:#a4a4a4;
@logo : #816687;
@light-bg: #f8f8f8;
@nav-divider :#bebea7;
@nav-button-bg:#bebea7;
@bar-border:#eee;
@nav-font-color:#808080;
@map-background:#fff;
@login-bg:#F7F7F7;
@login-button-bg:#4d90fe;
@login-button-hover-bg:#357ae8;
@login-button-text-color:#fff;
@login-input-text-bg:#ffffff;
@login-input-text-border:#d9d9d9;
@call-to-action:#e19f05;
@call-to-action-hover-color:#FFF;
@call-to-action-hover-bg:#c88d04;
@warning-bg:#F00;
@warning-text-color:#FFF;
@facebook-button-bg:#3b5998;
@facebook-button-hover-bg:#30487b;
@facebook-button-disabled-bg:#3b5998;
@facebook-button-text:#FFF;
@googleplus-button-bg:#dd4b39;
@googleplus-hover-bg:#ca3523;
@googleplus-button-disabled-bg:#dd4b39;
@googleplus-button-text:#FFF;
@map-popup-bg:#FFF;
@map-popup-border:#CCC;
@page-bg:#FFF;
@page-border:#CCC;
@plus-button-bg:#ddd;
@list-highlight-bg:#333000;
@list-highlight-text:#FFFFFF;
@list-hover-bg: #bebea7;
@message-bubble-owner:#eee;
@message-bubble-participant:#bebea7;
@notification-text-color:#F00;