@import '.\libraries\colours';

#search {
    input, button {
        z-index:1;
    }

}

.map-popup{
    position: absolute;
	background: @map-popup-bg;
	border: 2px solid @map-popup-border;
    z-index: 2;
    padding: 10px;
    &:after, &:before {
	    top: 100%;
	    left: 50%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
    }
    &:after {
	    border-color: rgba(255, 255, 255, 0);
	    border-top-color: #fff;
	    border-width: 15px;
	    margin-left: -15px;
    }
    &:before {
	    border-color: rgba(204, 204, 204, 0);
	    border-top-color: #ccc;
	    border-width: 18px;
	    margin-left: -18px;
    }
    header{
        border-bottom: 1px solid @map-popup-border;
        float: left;
        width: 100%;
        padding-bottom: 5px;          
    }
    button {
        background-color:@call-to-action;
        border:@call-to-action;
        margin:10px 0 0 0;
        color:@nav-bg;
        float:left;
        width:100%;
        height: 80px;
        font-weight: bold;
        font-size: 18px;
    }    
}

#exploreMap > div {
    width:99%;
    right:0;
}

#exploreList{
    
    height: 100%;
    overflow: auto;
    padding: 0px;
    ul.exploreListVenues{
        list-style:disc;
        padding-left: 0px;
        li{
            cursor: pointer;
            cursor: hand;
            header {
                background-color:@list-hover-bg;
                padding:10px;
            }
            address {
                margin:5px 0 0 0;
                font-size:15px;
            }
        }
        >li.exploreListVenue{
            
            padding: 2px;  
            margin:1px;          
            &:hover{
                background-color: @list-hover-bg;
            }
            h3{
                margin: 0px;
                font-size:18px;
                color:@nav-bg;
                font-weight:bold;

            }
            ul.venueActivities{
                margin:5px 0 0 0;
                >li{
                        border: 0;
                        background-color: inherit;
                        margin: 2px;
                        padding: 0;
                        width: auto;
                        display: inline-block;      
                    label{
                        font-weight: 400;
                        border:1px solid #ddd;
                        padding:2px;
                        background:#f8f8f8;
                        border-radius:5px;
                        font-size:10px;
                    }
                }
            }
        }
        >li.selected{
               
               &:hover{
                background:@call-to-action;
            }
                 header{
                        background:@call-to-action;  
                     }
            &:hover{
                
            }
        }
    }
}
@media (max-width: 990px) {
            #exploreList{
                height: 30%;
                border-bottom:5px solid @background;
                }
            #exploreMap {
                height: 70% !important;
            }
        }