@import '.\libraries\colours';

body{
    background:@body-bg;
    p {
        background:@body-bg;
    }
    h2 {
        background:@body-bg;
        color:@main-font;
    }
}

div#otherTitle {
    h1 {
        background:@home-bg;
        span {
            color:@font-green;
        }
    }
}