@import '.\libraries\colours';
@import 'venues';

html, body {
	height: 100%;
	width:100%;
    margin:0;
}
h1,h2,h3,h4,h5,h6 {
    color:@logo;
}
h2#mainHeading {
    color:@nav-bg;
    .fa {
        margin-right:10px !important;
        
    }
    font-size:36px !important;
    padding:10px;
    display:inline;
    background-color:@page-bg;
    float:left;
    font-weight:normal;
}

.contentContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 1;
    .row {
        margin:0;
    }
    .row.header {
        flex: 0 1 auto;
    }
    .row.content {
        flex: 1 1 auto;
        z-index: 1;
    }
    .row.footer {
        flex: 0 1 30px;
        background-color:@nav-bg;
        color:#fff;
        text-align:center;
        footer {
            padding-top:5px;
        }
    }    
}

#mainContent {	
	background: @map-background;
    overflow: auto;	
}

#mainNav.navbar {
	margin-bottom: 0px;
	border-radius: 0;
	border: 1px solid @nav-bar-border;
	background: @nav-bg;
    position: relative;
    top: 0;
    left:0;
    width:100%;
    z-index: 2;
    li.active a {
	    background: @nav-button-bg;
	    border: 1px solid @nav-divider;
	    border-width: 0px 1px;
    }
    a {
	    color:@text-link;
        font-size:18px;
    }
    a span{
	    color:@text-link;
        font-size:18px;
    }
    .navbar-header {
        width:65%;
        a {
	        color: @logo;
	        font-size: 30px;
        }
        #search {
            .input-group {
                width:100%;
                .input-group-btn {
                    width:1%;
                }
            }
        }  
    }   
    
    .input-group {
        .search-panel {
            a {
                font-weight:normal;
                font-size:15px;
            }
        }
    }

    .navbar-form {
        padding: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    @media screen and (max-width: 1340px){
        .navbar-header {
        width:60%;
        }
        #mainNav.navbar .navbar-form {
             width:60%;
        }
    }

   
    @media screen and (max-width: 1010px){
        .navbar-header {
        width:50%;
        }
        .navbar-form {
             width:75%;
        }
    }

    @media screen and (min-width: 768px) {
        .navbar-form {
            width: 85%;
        }
    }

    @media screen and (min-width: 0px ) and (max-width:800px) {
        .navbar-header {
        width:100%;
        margin:0;
        padding:0;
        }
        .container-fluid {
            margin:0;
            padding:0;
        }
        .navbar-form {
            width: 80%;
        }
    }

    @media screen and (max-width: 800px) {
        li.active a {
	        border: none;
        }
    }
}

#loginModal{
    .loginModalContainer{
        max-width: 350px;
        width: 100%;
        background-color: @login-bg;
        margin: 0 auto;
        border-radius: 2px;
        overflow: hidden;
        padding: 30px 0;        
    }
    h2{
        text-align: center;
        font-size: 1.8em;
    }
    form{
        padding: 0 30px;
    }
    input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
        border: 0px;
        color: @login-button-text-color;
        background-color: @login-button-bg;
        padding: 17px 0px;
        font-size: 14px;
        &:hover {
            background-color: @login-button-hover-bg;
        }
    }
    input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: @login-input-text-bg;
        border: 1px solid @login-input-text-border;                
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #loginWarning{
        text-align: center;
        background-color: @warning-bg;
        color: @warning-text-color;
    }
    .loginHelp{
        text-align: center;
    }
}

.map-popup{
    position: absolute;
	background: @map-popup-bg;
	border: 2px solid @map-popup-border;
    z-index: 2;
    padding: 10px;
    &:after, &:before {
	    top: 100%;
	    left: 50%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
    }
    &:after {
	    border-color: rgba(255, 255, 255, 0);
	    border-top-color: #fff;
	    border-width: 15px;
	    margin-left: -15px;
    }
    &:before {
	    border-color: rgba(204, 204, 204, 0);
	    border-top-color: #ccc;
	    border-width: 18px;
	    margin-left: -18px;
    }
    header{
        border-bottom: 1px solid @map-popup-border;
        float: left;
        width: 100%;
        padding-bottom: 5px;          
    }
    address {
        color: @default-text;
        float:left;        
        clear:left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:100%;
        font-size: 12px;
        margin-bottom: 0;
    }
    button {
        background-color:@call-to-action;
        border:@call-to-action;
        margin:10px 0 0 0;
        color:@nav-bg;
        float:left;
        width:100%;
    }
    span {
        float:right;
        clear:left;
        margin:15px;
        font-size:16px;
        a {
            font-weight:bold;
            color:@text-link;
        }
    }
    h3, h4, h5 {        
        float: left;
        margin: 0 0 5px 0;
        clear: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
        margin-top: 10px;
    }
    h5{
        font-size: 12px;        
    }
}

#joinVenueModal {   
    .control-group{
        float: left;
        width: 100%;
        padding-left: 30px;
        background-color: @light-bg;
        .controls{
            float: left;
            width: 50%;
            label{
                font-weight: 400;
            }
        }        
        .joinVenueOtherActivitiesContainer{
            text-align: center;
            margin-left: -30px;
            clear:left;
        }
    }
    .warning-border{
        border: 1px solid @warning-bg;   
    }
    #joinVenueChooseActivities{
        height: 110px;
        overflow: auto;

        .list-group{    
            width: 100%;
            margin-bottom: 0px;
                    
            .list-group-item{
                border: 0px;
                padding: 0px 15px;
                background-color: @light-bg;
                .checkbox{
                    font-weight: 400;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: @default-text;
                }
            }
        }
    }
}

#nprogress {
  pointer-events: none;
  .bar {
      background: @call-to-action;

      position: fixed;
      z-index: 2;
      top: 52px;
      left: 0;

      width: 100%;
      height: 2px;
    }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
  z-index:2;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#registerModal{
    .registerModalContainer{
        max-width: 350px;
        width: 100%;
        background-color: @login-bg;
        margin: 0 auto;
        border-radius: 2px;
        overflow: hidden;
        padding: 30px 0;        
    }
    h2{
        text-align: center;
        font-size: 1.8em;
    }
    form{
        padding: 0 30px;
    }
    input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
        border: 0px;
        color: @login-button-text-color;
        background-color: @login-button-bg;
        padding: 17px 0px;
        font-size: 14px;
        &:hover {
            background-color: @login-button-hover-bg;
        }
    }
    input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: @login-input-text-bg;
        border: 1px solid @login-input-text-border;                
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #registerWarning{
        text-align: center;
        background-color: @warning-bg;
        color: @warning-text-color;
    }
    .registerHelp{
        text-align: center;
    }
}

.socialLogins{
    padding: 15px 30px;
    .btn-social{
        position: relative;
        padding-left: 44px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 0;
    }
    .btn-social :first-child{
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        width:32px;
        line-height:34px;
        font-size:1.2em;
        text-align:center;
        border-right:1px solid rgba(0,0,0,0.2)
    }
    .btn-facebook{
        color:@facebook-button-text;
        background-color:@facebook-button-bg;
        border-color:rgba(0,0,0,0.2)

    }
    .btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{
        color:@facebook-button-text;
        background-color:@facebook-button-hover-bg;
        border-color:rgba(0,0,0,0.2)
    }
    .btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{
        background-image:none
    }
    .btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{
        background-color:@facebook-button-disabled-bg;
        border-color:rgba(0,0,0,0.2)
    }
    .btn-google-plus{
        color:@googleplus-button-text;
        background-color:@googleplus-button-bg;
        border-color:rgba(0,0,0,0.2)
    }
    .btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{
        color:@googleplus-button-text;
        background-color:@googleplus-hover-bg;
        border-color:rgba(0,0,0,0.2)
    }
    .btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{
        background-image:none
    }
    .btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{
        background-color:@googleplus-button-disabled-bg;
        border-color:rgba(0,0,0,0.2)
    }
}
#infoPopUp {
    width:300px;
    background-color:@nav-bg;
    top:50%;
    left:50%;
    position:absolute;
    z-index:2;
    padding:10px;
    color:@info-text;
    visibility:hidden;
}


