<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find, meet and join with new friends or competitors in sporting, fitness activities - zavit sport</title>
        <meta name="description" content="Find, meet and join with friends or competitors in sporting activities such as football, tennis, golf, swimming or the gym. Get active and social with new people who share the same sport or fitness interests as you.">
        <meta name="keywords" content="Sport, Activities, Social, Gym, Football, Squash, Tennis, Swimming, Golf, Message, Communication">
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window, document, 'script', 'dataLayer', 'GTM-M4NDKT');
        </script>
        <!-- End Google Tag Manager -->
        <link rel="stylesheet" href="/Fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/CSS/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/CSS/production/styles.css"/>
        <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    </head>
    <body id="home">
        @RenderBody()
        <script src="/routing/signals.min.js"></script>
        <script src="/routing/crossroads.min.js"></script>
        <script src="/routing/hasher.min.js"></script>
        <script src="/libraries/jquery-3.1.0.min.js"></script>
        <script src="/CSS/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.23/gmaps.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdBXRREqgMB79yE4OK46gaBvDz31x603U&libraries=places"></script>
        <script src="/libraries/nprogress.js"></script>
        <script src="/libraries/moment.js"></script>
        <script src="/libraries/jquery.signalR-2.2.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="bundle.js"></script>
    </body>
</html>