<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ZAVIT</title>
    <link rel="stylesheet" href="/Fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/CSS/production/styles.css"/>
</head>
<body id="home">
    @RenderBody()
    <script src="/routing/signals.min.js"></script>
    <script src="/routing/crossroads.min.js"></script>
    <script src="/routing/hasher.min.js"></script>
    <script src="/libraries/jquery-3.1.0.min.js"></script>
    <script src="/CSS/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.23/gmaps.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdBXRREqgMB79yE4OK46gaBvDz31x603U"></script>
    <script src="/libraries/fetch-ie8.js"></script>
    <script src="/libraries/nprogress.js"></script>
    <script src="/bundle.js"></script>
</body>
</html>